body{
    background-color: #f8f9fd;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    background:linear-gradient(135deg, grey 0%, rgba(84, 110, 122, 0.1)) ,url('../img/clavier.jpg');
   background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    
    padding: 4.8em 0;
}
.lgn-cnt{
    height: 439px;
}
.lgn-tlt{
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0!important;
    text-align: center;
    font-size: xx-large;
}
.form-side{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    background-color:white;
    height: 100%;
}
.btn{
    width: 100%;
}
.clr-btn{
    background: linear-gradient(135deg, grey 0%, #546e7a 100%);
    border: 1px solid white;
}

.fgt-pss{
    display: flex;
}
.fgt-pss a{
    margin-left: auto;
    color: grey;
    text-decoration: none;
    padding-top: 2px;
}
.img-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(135deg, grey 0%, #546e7a 100%);
    
}
h3,h5,button{
    margin:30px auto;
}

/*checked color */
[type="checkbox"].filled-in:checked+span:not(.lever):after{
    background: linear-gradient(135deg, grey 0%, #546e7a 100%);
    border: 1px solid white;
    content: '';
}
  /* label focus color */
  .input-field input:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #546e7a !important;
   }

/* label underline focus color */
   .input-field input:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #546e7a !important;
    box-shadow: 0 1px 0 0 grey !important;
   }